// Andale Mono Regular
@font-face {
  font-family: 'Andale Mono';
  src: url('../fonts/AndaleMono/AndaleMono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Anonymous Pro Bold
@font-face {
  font-family: 'Anonymous Pro';
  src: url('../fonts/AnonymousPro/AnonymousPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}