.icon {
  display: inline-block;

  &.user-agreement-logo {
    background: url(img/icons/footer-logo.png)no-repeat center/cover;
    width: 143px;
    height: 43px;
  }

  // app/elements/index-page/svg-icons
  &-icon-VK {
    width: 15px;
    height: 8px;
    fill: #747474;
  }

  &-icon-inst {
    width: 15px;
    height: 14px;
    fill: #747474;
  }

  &-icon-fb {
    width: 6px;
    height: 13px;
    fill: #747474;
  }

  &-icon-youtube {
    width: 14px;
    height: 10px;
    fill: rgba(#fff, .5);
  }

  &-icon-telegram {
    width: 13px;
    height: 11px;
    fill: rgba(#fff, .5);
  }

  &-header-logo {
    width: 153px;
    height: 45px;
    fill: #ffffff;
  }

  &-arrow-down {
    width: 11px;
    height: 11px;
    fill: rgba(#fff, .4);
  }

  &-3d {
    width: 31px;
    height: 29px;
    fill: rgba(#fff, .5);
  }

  &-photo {
    width: 20px;
    height: 16px;
    fill: rgba(#fff, .5);
  }

  &-anf {
    width: 16px;
    height: 18px;
    fill: rgba(#fff, .5);
  }

  &-prof {
    width: 15px;
    height: 19px;
    fill: rgba(#fff, .5);
  }

  &-arrow-upload {
    width: 9px;
    height: 13px;
    fill: $gold;
  }

  &-upload-man {
    width: 60px;
    height: 70px;
    fill: $gold;

    &_hover {
      position: absolute;
      width: 60px;
      height: 70px;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      fill: $gold;
      opacity: 0;
      transition: .4s;
    }
  }

  &-arrow {
    width: 14px;
    height: 9px;
    fill: #181718;
  }

  &-referral-program {
    width: 21px;
    height: 22px;
    fill: #747474;
  }

  &-position {
    width: 11px;
    height: 15px;
    fill: #b1a881;
  }

  // services
  &.logo-mini {
    background: url(img/icons/logo-mini.png)no-repeat center/cover;
    width: 25px;
    height: 25px;
  }

  &-voice-svg {
    width: 24px;
    height: 15px;
    fill: #eaeaea;
  }

  //app/elements/services/content
  &-postal {
    width: 18px;
    height: 13px;
    fill: rgba(#fff, .5);
  }

  &-phone {
    width: 12px;
    height: 20px;
    fill: rgba(#fff, .5);
  }

  &-photo-profile {
    width: 32px;
    height: 40px;
    fill: $gold;
  }

  &-full-height {
    width: 14px;
    height: 43px;
    fill: $gold;
  }

  // app/elements/services/menu/svg-icons
  &-collection-svg {
    width: 24px;
    height: 18px;
    fill: rgba(#fff, .3);
  }

  &-star-svg {
    width: 24px;
    height: 23px;
    fill: rgba(#fff, .3);
  }

  &-description {
    width: 18px;
    height: 23px;
    fill: rgba(#fff, .3);
  }

  &-full-description {
    width: 24px;
    height: 24px;
    fill: rgba(#fff, .3);
  }

  &-people-svg {
    width: 25px;
    height: 24px;
    fill: rgba(#fff, .3);
  }
  &-header {
   width: 24px;
height: 14px;
    fill: rgba(#fff, .3);
  }
}