.sidebar 
  ._sidebar-info
      +svg('header-logo', 'index-page__header-logo')
      ._close &#10006;
  input(type="text" placeholder="поиск")._sidebar-search

  ._list-categories
      ._list-categories-item
          ._list-categories-item-title Актеры
          ._drop-down-list
              ._names-people-list
                  ._names-people-list-item Том Харди
                  ._names-people-list-item Брюс Уиллис
              ._add-names-people
                  input(type="text" placeholder="добавить")._add-names-people-input
                  ._plus.-names-people-list-item +

      ._list-categories-item
          ._list-categories-item-title Политики
          ._drop-down-list
              ._names-people-list
                  ._names-people-list-item Том Харди
                  ._names-people-list-item Брюс Уиллис
              ._add-names-people
                  input(type="text" placeholder="добавить")._add-names-people-input
                  ._plus.-names-people-list-item +

      ._list-categories-item
          ._list-categories-item-title блогеры
          ._drop-down-list
              ._names-people-list
                  ._names-people-list-item Том Харди
                  ._names-people-list-item Брюс Уиллис
              ._add-names-people
                  input(type="text" placeholder="добавить")._add-names-people-input
                  ._plus.-names-people-list-item +

      ._list-categories-item
          ._list-categories-item-title бизнес
          ._drop-down-list
              ._names-people-list
                  ._names-people-list-item Том Харди
                  ._names-people-list-item Брюс Уиллис
              ._add-names-people
                  input(type="text" placeholder="добавить")._add-names-people-input
                  ._plus.-names-people-list-item +

      ._list-categories-item
          ._list-categories-item-title модели
          ._drop-down-list
              ._names-people-list
                  ._names-people-list-item Том Харди
                  ._names-people-list-item Брюс Уиллис
              ._add-names-people
                  input(type="text" placeholder="добавить")._add-names-people-input
                  ._plus.-names-people-list-item +
  ._add-list-categories-item
      input(type="text" placeholder="добавить")._add-list-categories-item-input
      ._plus.-list-categories-item +