.content.section
  ._wrap.wrap
    ._opcions
      ._characteristics-box-line
      ._information-person
          ._information-person-name Том Харди
          ._information-person-profession Тип №148
      ._characteristics-box
          ._characteristics
              ._type-thinking
                  ._type-thinking-title Тип мышления:
                  ._type-thinking-text Абстрактно-эпизодический
              ._characteristics-list
                  ._characteristics-list-item
                      ._characteristics-list-item-title Пол:
                      select._select
                          option._options Мужской
                          option._options Женский

                  ._characteristics-list-item
                      ._characteristics-list-item-title Вес:
                      ._characteristics-list-info
                          input(type="text")._input
                          ._characteristics-list-text кг

                  ._characteristics-list-item
                      ._characteristics-list-item-title Возраст:
                      ._characteristics-list-info
                          input(type="text")._input

                  ._characteristics-list-item
                      ._characteristics-list-item-title Рост:
                      ._characteristics-list-info
                          input(type="text")._input
                          ._characteristics-list-text см

                  ._characteristics-list-item
                      ._characteristics-list-item-title Цвет глаз:
                      select._select
                          option._options Синий
                          option._options Голубой
                          option._options Серый
                          option._options Зелёный
                          option._options Янтарный
                          option._options Болотный
                          option._options Карий
                          option._options Чёрный
      ._user-info-list
        ._user-info-list-item
          ._list-item-svg
            +svg('postal', 'content__user-info-svg')
          a(href="")._list-item-text tom@hardy.com

        ._user-info-list-item
          ._list-item-svg
            +svg('phone', 'content__user-info-svg')
          a(href="")._list-item-text +7 123 45 67

        ._user-info-list-item
          ._list-item-svg
            +svg('icon-VK', 'content__user-info-svg')
          a(href="")._list-item-text ID8232848

        ._user-info-list-item
          ._list-item-svg
            +svg('icon-inst', 'content__user-info-svg')
          a(href="")._list-item-text @MASHA

        ._user-info-list-item
          ._list-item-svg
            +svg('icon-fb', 'content__user-info-svg')
          a(href="")._list-item-text MASHA_IAN
    ._center-block
      ._swiper-container.swiper-container.gallery-thumbs
        ._swiper-wrapper.swiper-wrapper
          ._swiper-slide.swiper-slide
            ._slide-photo
              img(src="img/photo-big.png", alt="alt")
          ._swiper-slide.swiper-slide
            ._slide-photo
              img(src="img/photo-big.png", alt="alt")
          ._swiper-slide.swiper-slide
            ._slide-photo
              img(src="img/photo-big.png", alt="alt")
          ._swiper-slide.swiper-slide
            ._slide-photo
              img(src="img/photo-big.png", alt="alt")
          ._swiper-slide.swiper-slide
            ._slide-photo
              img(src="img/photo-big.png", alt="alt")
          ._swiper-slide.swiper-slide
            ._slide-photo
              img(src="img/photo-big.png", alt="alt")
          ._swiper-slide.swiper-slide
            ._slide-photo
              img(src="img/photo-big.png", alt="alt")
          ._swiper-slide.swiper-slide
            ._slide-photo
              img(src="img/photo-big.png", alt="alt")
          ._swiper-slide.swiper-slide
            ._slide-photo
              img(src="img/photo-big.png", alt="alt")
          ._swiper-slide.swiper-slide
            ._slide-photo
              img(src="img/photo-big.png", alt="alt")
          ._swiper-slide.swiper-slide
            ._slide-photo
              img(src="img/photo-big.png", alt="alt")
          ._swiper-slide.swiper-slide
            ._slide-photo
              img(src="img/photo-big.png", alt="alt")
          ._swiper-slide.swiper-slide
            ._slide-photo
              img(src="img/photo-big.png", alt="alt")
          ._swiper-slide.swiper-slide
            ._slide-photo
              img(src="img/photo-big.png", alt="alt")
          ._swiper-slide.swiper-slide
            ._slide-photo
              img(src="img/photo-big.png", alt="alt")
          ._swiper-slide.swiper-slide
            ._slide-photo
              img(src="img/photo-big.png", alt="alt")
          ._swiper-slide.swiper-slide
            ._slide-photo
              img(src="img/photo-big.png", alt="alt")
          ._swiper-slide.swiper-slide
            ._slide-photo
              img(src="img/photo-big.png", alt="alt")
          ._swiper-slide.swiper-slide
            ._slide-photo
              img(src="img/photo-big.png", alt="alt")
          ._swiper-slide.swiper-slide
            ._slide-photo
              img(src="img/photo-big.png", alt="alt")
          ._swiper-slide.swiper-slide
            ._slide-photo
              img(src="img/photo-big.png", alt="alt")
          ._swiper-slide.swiper-slide
            ._slide-photo
              img(src="img/photo-big.png", alt="alt")
        ._swiper-scrollbar.swiper-scrollbar
      .gallery-thumbs-btn.-prev &lt;
      .gallery-thumbs-btn.-next &gt;
      ._add-slide
        ._slider-top-box
          ._swiper-container.swiper-container.gallery-top
            ._swiper-wrapper.swiper-wrapper
              ._swiper-slide.swiper-slide
                ._slide-photo
                  img(src="img/photo-big.png", alt="alt")
              ._swiper-slide.swiper-slide
                ._slide-photo
                  img(src="img/photo-big.png", alt="alt")
              ._swiper-slide.swiper-slide
                ._slide-photo
                  img(src="img/photo-big.png", alt="alt")
              ._swiper-slide.swiper-slide
                ._slide-photo
                  img(src="img/photo-big.png", alt="alt")
              ._swiper-slide.swiper-slide
                ._slide-photo
                  img(src="img/photo-big.png", alt="alt")
              ._swiper-slide.swiper-slide
                ._slide-photo
                  img(src="img/photo-big.png", alt="alt")
              ._swiper-slide.swiper-slide
                ._slide-photo
                  img(src="img/photo-big.png", alt="alt")
              ._swiper-slide.swiper-slide
                ._slide-photo
                  img(src="img/photo-big.png", alt="alt")
              ._swiper-slide.swiper-slide
                ._slide-photo
                  img(src="img/photo-big.png", alt="alt")
              ._swiper-slide.swiper-slide
                ._slide-photo
                  img(src="img/photo-big.png", alt="alt")
              ._swiper-slide.swiper-slide
                ._slide-photo
                  img(src="img/photo-big.png", alt="alt")
              ._swiper-slide.swiper-slide
                ._slide-photo
                  img(src="img/photo-big.png", alt="alt")
              ._swiper-slide.swiper-slide
                ._slide-photo
                  img(src="img/photo-big.png", alt="alt")
              ._swiper-slide.swiper-slide
                ._slide-photo
                  img(src="img/photo-big.png", alt="alt")
              ._swiper-slide.swiper-slide
                ._slide-photo
                  img(src="img/photo-big.png", alt="alt")
              ._swiper-slide.swiper-slide
                ._slide-photo
                  img(src="img/photo-big.png", alt="alt")
              ._swiper-slide.swiper-slide
                ._slide-photo
                  img(src="img/photo-big.png", alt="alt")
              ._swiper-slide.swiper-slide
                ._slide-photo
                  img(src="img/photo-big.png", alt="alt")
              ._swiper-slide.swiper-slide
                ._slide-photo
                  img(src="img/photo-big.png", alt="alt")
              ._swiper-slide.swiper-slide
                ._slide-photo
                  img(src="img/photo-big.png", alt="alt")
              ._swiper-slide.swiper-slide
                ._slide-photo
                  img(src="img/photo-big.png", alt="alt")
              ._swiper-slide.swiper-slide
                ._slide-photo
                  img(src="img/photo-big.png", alt="alt")
        ._add-slide-btn
          ._upload-file.append-slide
            label._upload-photo
                input(type="file")._upload-photo-input
                ._upload-icon
                    +svg('photo-profile')
                    +svg('upload-man_hover')
                ._label
                    | фото профиль
                    ._arrow-upload
                        +svg('arrow-upload', 'index-page__arrow-upload-svg animate')
          ._upload-file.append-slide
            label._upload-photo
                input(type="file")._upload-photo-input
                ._upload-icon
                    +svg('full-height')
                    +svg('upload-man_hover')
                ._label
                    | фото в 
                    br/ полный рост
                    ._arrow-upload
                        +svg('arrow-upload', 'index-page__arrow-upload-svg animate')
      ._characteristics-box
        ._characteristics-box-item
          ._characteristics-box-item-title Соционика:
          select._select.-characteristics
            option._options Вариант 1
            option._options Вариант 2
            option._options Вариант 3

        ._characteristics-box-item
          ._characteristics-box-item-title Нейротип:
          select._select.-characteristics
            option._options Вариант 1
            option._options Вариант 2
            option._options Вариант 3

        ._characteristics-box-item
          ._characteristics-box-item-title Акцентуация:
          select._select.-characteristics
            option._options Вариант 1
            option._options Вариант 2
            option._options Вариант 3

        ._characteristics-box-item
          ._characteristics-box-item-title Социотип:
          select._select.-characteristics
            option._options Вариант 1
            option._options Вариант 2
            option._options Вариант 3

        ._characteristics-box-item
          ._characteristics-box-item-title СВП:
          select._select.-characteristics
            option._options Вариант 1
            option._options Вариант 2
            option._options Вариант 3
      //._center-block-comments
        ._center-block-comments-title Комментарий:
        ._center-block-comments-text Далеко-далеко за словесными горами в стране гласных исогласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир.
    ._side-bar
      .referral-program
          ._text Реферальная программа
          a(href="#", title="title" data-link="Через VK")._list-item
              +svg('icon-VK')
          a(href="#", title="title" data-link="Через Instagram")._list-item
              +svg('icon-inst')
          a(href="#", title="title" data-link="Через Facebook")._list-item
              +svg('icon-fb ') 
          a(href="#", title="title" data-link="Реферальная программа")._list-item
              +svg('referral-program', "index-page__referral-program-svg")
      ._side-bar-comment
        ._side-bar-comment-title Комментарий:
        ._side-bar-comment-text Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир.
  ._menu
    ._menu-info
        +svg('header-logo', 'index-page__header-logo')
        ._close &#10006;

    ._box.-bg-dark
      ._box-title Для администрации
      ._box-list
        ._box-list-item
          ._box-list-svg
            +svg("collection-svg")
          span._box-list-text Коллекция фото

        ._box-list-item
          ._box-list-svg
            +svg("star-svg")
          span._box-list-text Обзоры личностей
           
    ._box
      ._box-title Услуги
      ._box-list
        ._box-list-item
          ._box-list-svg
            +svg("description")
          span._box-list-text Ваше базовое описание

        ._box-list-item
          ._box-list-svg
            +svg("full-description")
          span._box-list-text Ваше полное описание

        ._box-list-item
          ._box-list-svg
            +svg("people-svg")
          span._box-list-text Ваши лидерские качества

        ._box-list-item
          ._box-list-svg
            +svg("header")
          span._box-list-text Подходящие профессии

        ._box-list-item
          ._box-list-svg
            +svg("head-svg")
          span._box-list-text Ваш нейротип

        ._box-list-item
          ._box-list-svg
            +svg("heart-svg")
          span._box-list-text Ваш идеальный партнер

        ._box-list-item
          ._box-list-svg
            +svg("feeding")
          span._box-list-text Система питания

        ._box-list-item
          ._box-list-svg
            +svg("training")
          span._box-list-text План по тренировкам

    ._coin-info
      +icon('logo-mini', 'content__coin-info-svg')
      span._coin-info-text 187 FCoins

    ._link-list
      a(href="#", title="title")._link-list-item О проекте
      a(href="#", title="title")._link-list-item Контакты
    
