.index-page {
  background: url(img/index-page-bg.svg) no-repeat top;
  background-position: center -122px;
  width: 100%;
  height: 100vh;

  /*   height: 100vh;
  overflow-y: hidden; */
  $root: &;

  .footer__wrap {
    width: 100%;
  }

  &__wrap {
    padding: 20px 0 0 0;
    position: relative;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 15px 0 0 0;
  }

  &__header-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 250px;
    width: 100%;
  }

  &__header-info-text {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0 0 19px rgba($gold, 0.7);
    opacity: 0;
    transition: .4s;


    &_active {
      opacity: 1;
    }
  }

  &__menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 22px;
    height: 14px;
    position: relative;

    &_active {
      width: 26px;
    }

    &:hover {
      cursor: pointer;
      width: 22px;

      #{$root} {
        &__menu-line {
          width: 22px;
          box-shadow: 0 0 15px $gold;

          &:after,
          &:before {
            width: 22px;
            left: 0;
            box-shadow: 0 0 15px $gold;
          }
        }
      }
    }
  }

  &__menu-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ffffff;
    transition: .4s;
    transition-delay: .05s;
    box-shadow: 0 0 15px transparent;

    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 17px;
      height: 2px;
      background: #ffffff;
      top: 7px;
      left: 5px;
      transition: .4s;
      transition-delay: .1s;
      box-shadow: 0 0 15px transparent;
    }

    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 12px;
      height: 2px;
      background: #ffffff;
      top: 14px;
      left: 10px;
      transition: .4s;
      transition-delay: .15s;
      box-shadow: 0 0 15px transparent;
    }

    &_active {
      width: 21px;
      background-color: $gold;

      &:after {
        width: 16px;
        background-color: $gold;
      }

      &:before {
        background-color: $gold;
      }
    }
  }

  &__header-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    color: #cdcdcd;
  }

  &__user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 175px;
    width: 100%;
  }

  &__user-info-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    flex: none;
    margin: 0 10px 0 0;

  }

  &__user-info-img {
    object-fit: cover;
    height: 100%;
  }

  &__user-info-name {
    font-size: 13px;
    transition: .4s;

    &:hover {
      color: $gold;
      cursor: pointer;

      svg {
        fill: $gold;
      }
    }
  }

  &__arrow-down {
    margin: 0 0 0 10px;
    transform: translateY(4px);
  }

  &__information-person {
    color: rgba(#fff, .7);
    padding: 0 0 0 30px;
    //border-left: 1px solid rgba(#cdcdcd, .25);
    position: relative;
    max-width: 265px;
    width: 100%;
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      background: rgba(#cdcdcd, .25);
      width: 1px;
      height: 100%;
      top: 0;
      left: 4px;
    }
  }

  &__information-person-name {
    font-size: 18px;
    line-height: 14px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background: #4e4e4e;
      top: 0;
      left: 0px;
    }
  }

  &__information-person-profession {
    font-size: 14px;
    margin: 35px 0 0 0;

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 8px;
      height: 8px;
      border: 1px solid #cdcdcd;
      border-radius: 50%;
      background: #181718;
      bottom: 0;
      left: 0px;
    }
  }

  &__psychotype-container {
    display: flex;
    justify-content: center;
    width: 100%;
    //padding-right: 250px;
  }

  &__psychotype-box {
    //max-width: 780px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__psychotype-box-line {
    width: 100%;
    border-top: 2px dotted rgba(#ffffff, .2);
  }

  &__psychotype-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 35px 0 0 0;
  }

  &__psychotype-list-item {
    font-size: 17px;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    transition: .4s;

    &:before {
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 50%;
      display: block;
      position: absolute;
      background: #ffffff;
      left: calc(50% - 5px);
      top: -41px;
      box-shadow: 0 0 15px rgba($gold, 0);
      transition: .4s;
      z-index: 1;
    }

    &:after {
      content: '';
      width: 6px;
      height: 6px;
      border-radius: 50%;
      display: block;
      position: absolute;
      border: 1px solid $gold;
      left: calc(50% - 3px);
      top: -39px;
      box-shadow: 0 0 15px rgba($gold, 0);
      opacity: 0;
      transition: .4s;
    }

    &:hover {
      &:before {
        background: $gold;
        box-shadow: 0 0 15px rgba($gold, 1);
      }

      &:after {
        width: 70px;
        height: 70px;
        left: calc(50% - 35px);
        top: -72px;
        animation: animateCirce 1.2s 1;
      }
    }

    &_active {
      color: $gold;

      &:before {
        box-shadow: 0 0 15px rgba($gold, 0.7);
        background-color: $gold;
      }
    }
  }

  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin: 45px 0 0 0;
  }

  &__opcions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 220px;
    width: 100%;
    /*     height: 73vh;
    overflow-y: auto; */

    .nicescroll-rails {
      display: none !important;
    }
  }

  &__model-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 30px 0 0 0;
  }

  &__model-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: rgba(#ffffff, .4);
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;

    &:not(:first-child) {
      margin: 17px 0 0 0;
    }

    &_active {
      color: $gold;

      svg {
        fill: $gold;
      }
    }

    &:hover {
      color: $gold;

      svg {
        fill: $gold;
      }
    }
  }

  &__3d {
    transform: translateX(-4px);
  }

  &__characteristics-box {
    display: flex;
    align-items: flex-start;
    margin: 30px 0 0 0;
  }

  &__characteristics-box-line {
    width: 2px;
    height: 333px;
    background-color: #cdcdcd;
    opacity: 0.25;
    margin: 10px 35px 0 5px;
    z-index: -1;
  }

  &__characteristics {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__type-thinking {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__type-thinking-title {
    color: rgba(#ffffff, .2);
    font-size: 16px;
    text-transform: uppercase;
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background: #4e4e4e;
      left: -40px;
      top: 3px;
      z-index: 5;
    }
  }

  &__type-thinking-text {
    color: rgba(#ffffff, .7);
    font-size: 16px;
    line-height: 24px;
    margin: 20px 0 0 0;
  }

  &__characteristics-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0 0 0;
  }

  &__characteristics-list-item {
    &:not(:first-child) {
      margin: 17px 0 0 0;
    }
  }

  &__characteristics-list-item-title {
    color: rgba(#ffffff, .2);
    font-size: 13px;
    text-transform: uppercase;
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 8px;
      height: 8px;
      border: 1px solid #cdcdcd;
      border-radius: 50%;
      background: #181718;
      left: -40px;
      top: 3px;
      z-index: 5;
    }
  }

  &__select {
    outline: none;
    font-family: "Andale Mono";
    //margin: 10px 0 0 0;
    padding: 0px 19px 0px 0px;
    font-size: 14px;
    color: rgba(#fff, .7);
    border: none;
    border-bottom: 1px solid $gold-light;
    height: 30px;
    appearance: none;
    background: url(img/arrow-select.png) 96% / 9% no-repeat transparent;
    position: relative;
    outline: 0px;

    &:hover {
      cursor: pointer;
    }
  }

  &__options {
    background: #000;
    outline: none;
    border: none;
  }

  &__characteristics-list-info {
    display: flex;
    align-items: center;
    margin: 3px 0 0 0;
  }

  &__input {
    border: none;
    border-bottom: 1px solid $gold;
    background: transparent;
    width: 30px;
    margin: 0 10px 0 0;
    padding: 2px 0;
    font-size: 14px;
    color: rgba(#fff, .7);
  }

  &__characteristics-list-text {
    font-size: 14px;
    color: rgba(#fff, .7);
  }

  &__terms-use {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__terms-use-link {
    color: rgba(#fff, .25);
    font-size: 12px;
    text-decoration: underline;

    &:not(:first-child) {
      margin: 15px 0 0 0;
    }
  }

  &__referral-program {
    display: flex;
    align-items: center;
    color: #9a9a9a;
    font-size: 13px;
    margin: -22px 0 0 0;

    &:hover {
      cursor: pointer;
      color: $gold;

      #{$root} {
        &__referral-program-icon {
          border: 1px solid $gold;
        }

        &__referral-program-svg {
          fill: $gold;
        }
      }

    }
  }

  &__referral-program-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 1px solid #403e40;
    margin: 0 0 0 15px;
  }

  &__main-window {
    min-height: 70vh;
    width: 70%;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
  }

  &__central-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 56vh;
    margin: 50px 0 0 0;

  }

  &__upload-file {
    text-align: center;
    position: relative;
    width: 180px;
    height: 230px;
  }

  &__upload-photo-input {
    display: none;
  }

  &__label {
    display: flex;
    align-items: center;
    color: $gold;
    font-size: 14px;
    text-transform: uppercase;
    padding: 50px 0 0 0;
    transition: .4s;

    &:after {
      content: '';
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
      width: 40px;
      height: 40px;
      background: transparent;
      border-bottom: 1px solid $gold;
      border-left: 1px solid $gold;
      transition: .4s;
    }

    &:before {
      content: '';
      position: absolute;
      display: block;
      bottom: 0;
      right: 0;
      width: 40px;
      height: 40px;
      background: transparent;
      border-bottom: 1px solid $gold;
      border-right: 1px solid $gold;
      transition: .4s;
    }
  }

  &__upload-icon {
    position: relative;
  }

  &__arrow-upload {
    width: 9px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid $gold;
    margin: 0 0 0 10px;
  }

  &__upload-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 180px;
    height: 230px;

    &:hover {
      cursor: pointer;

      .icon-upload-man_hover {
        opacity: 1;
      }

      &:after {
        content: '';
        top: -5px;
        left: -5px;
      }

      &:before {
        content: '';
        top: -5px;
        right: -5px;
      }

      #{$root} {
        &__label {
          &:after {
            content: '';
            bottom: -5px;
            left: -5px;
          }

          &:before {
            content: '';
            bottom: -5px;
            right: -5px;
          }
        }
      }
    }

    &:after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      background: transparent;
      border-top: 1px solid $gold;
      border-left: 1px solid $gold;
      transition: .4s;
    }

    &:before {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      width: 40px;
      height: 40px;
      background: transparent;
      border-top: 1px solid $gold;
      border-right: 1px solid $gold;
      transition: .4s;
    }

    &:hover {
      cursor: pointer;

      >#{$root} {
        &__label {
          text-shadow: 0 0 15px rgba($gold, 0.7);
        }
      }
    }
  }

  &__parameter-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 225px;
    width: 100%;
    height: 60vh;
    overflow-y: auto;
    margin: 80px 0 0 0;
    //transform: translateY(104px);
  }

  &__parameter-list-item {
    &:not(:first-child) {
      margin: 13px 0 0 0;
    }
  }

  &__parameter-list-item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &:hover {
      cursor: pointer;
    }
  }

  &__parameter-list-item-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    width: 192px;
    height: 31px;
    background-color: $gold-light;
    font-size: 16px;
    text-transform: uppercase;
    color: #181718;
  }

  &__hint {
    width: 26px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Anonymous Pro";
    font-size: 17px;
    text-transform: uppercase;
    color: rgba(#fff, .7);
    margin: 0 0 0 10px;
    position: relative;
    transition: .4s;
    flex: none;

    &_sub {
      margin: 0 0 0 25px;
    }

    &:after {
      content: '';
      position: absolute;
      display: block;
      height: 23px;
      width: 3px;
      border: 2px solid rgba(#fff, .13);
      border-right: none;
      border-radius: 2px 0 0 2px;
      top: -2px;
      left: 0;
      transition: .4s;
    }

    &::before {
      content: '';
      position: absolute;
      display: block;
      height: 23px;
      width: 3px;
      border: 2px solid rgba(#fff, .13);
      border-left: none;
      border-radius: 0 2px 2px 0;
      top: -2px;
      right: 0;
      transition: .4s;
    }

    &:hover {
      color: $gold;
      cursor: pointer;

      &:after {
        border-color: rgba($gold, .5);
      }

      &::before {
        border-color: rgba($gold, .5);
      }
    }
  }

  &__subparagraphs-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 0;
    overflow: hidden;

    &_active {
      overflow: none;
      height: auto;
    }
  }

  &__subparagraphs-list-item {
    display: flex;
    align-items: center;
    color: $gold;
    font-size: 16px;
    margin: 25px 0 0 0;

    &:hover {
      cursor: pointer;
    }

    &_active {
      color: #4a4a4a;
    }

    &:last-child {
      margin: 25px 0 30px 0;
    }
  }

  &__subparagraphs-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #111011;
    border: 1px solid $gold;
    padding: 40px 30px;
    z-index: 20;
    display: none;

    &_active {
      display: block;
    }
  }

  &__subparagraphs-info-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__subparagraphs-num {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #ffffff;
  }

  &__subparagraphs-info-close {
    color: $gold;
    font-size: 16px;

    &:hover {
      cursor: pointer;
    }
  }

  &__close-arrow {
    fill: $gold;
    margin: 0 0 0 15px;
    transform: rotate(-90deg);
  }

  &__subparagraphs-info-text {
    color: #ffffff;
    font-size: 16px;
    line-height: 30px;
    margin: 35px 0 0 0;
    overflow-y: auto;
    height: 90% !important;
    padding: 0 15px 0 0;

    &_active {
      overflow-y: auto;
    }
  }

  &__user-agreement {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0 0 0;
  }

}

.social-networks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  $root: &;


  &__text {
    font-size: 11px;
    margin: 0 10px 0 0;
    width: 145px;
    transition: .4s;
    color: #9a9a9a;
    //opacity: 0;
    //visibility: hidden;

    &_active {
      color: $gold;
      opacity: 1;
      visibility: visible;
    }
  }



  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 168px;
    width: 100%;
  }

  &__list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 29px;
    height: 29px;
    border-radius: 14px;
    border: 1px solid #403e40;
    transition: .4s;

    &:hover {
      border: 1px solid rgba($gold, 0.5);

      svg {
        fill: rgba($gold, 1);
        transition: .4s;
      }

      /*     &_active {
      border: 1px solid rgba($gold, 0.5);

      svg {
        fill: rgba($gold, 1);
        transition: .4s;
      } */
    }
  }
}

.slider {
  width: 195px;
  $root: &;

  &__slider-item {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(#ffffff, .7);
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 auto;

    &:hover {
      cursor: pointer;
      color: $gold;

      svg {
        fill: rgba($gold, 1);
        transition: .4s;
      }

      #{$root} {
        &__list-item {
          border: 1px solid rgba($gold, 0.5);
        }
      }

    }

  }

  &__list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 29px;
    height: 29px;
    border-radius: 14px;
    border: 1px solid #403e40;
    transition: .4s;
    margin: 0 10px 0 0;

    &:hover {
      border: 1px solid rgba($gold, 0.5);

      svg {
        fill: rgba($gold, 1);
        transition: .4s;
      }
    }
  }
}

.slider-btn-next,
.slider-btn-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(#ffffff, .7);
  font-size: 25px;
  position: absolute;
  width: 20px;
  height: 30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;

  &:hover {
    cursor: pointer;
    color: $gold;
  }
}

.slider-btn-next {
  right: 0;
}

.slider-btn-prev {
  left: 0;
}


@keyframes move {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-3px);
  }
}

.animate {
  animation-name: move;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes animateCirce {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 0;
  }
}