.index-page.section
    ._wrap.wrap
        ._header
            ._header-info
                +svg('header-logo', 'index-page__header-logo')
                ._menu
                    span._menu-line
                ._header-info-text меню
            ._header-box
                ._user-info
                    ._user-info-photo
                        img(src="img/user-photo.png", alt="alt")._user-info-img
                    ._user-info-name
                        | Ксения Иванова
                        +svg('arrow-down', 'index-page__arrow-down')
                ._social-networks
                    ._social-networks-text Рассказать друзьям
                    ._social-networks-list
                        a(href="#", title="title" data-link="Через VK")._social-networks-list-item
                            +svg('icon-VK')
                        a(href="#", title="title" data-link="Через Instagram")._social-networks-list-item
                            +svg('icon-inst')
                        a(href="#", title="title" data-link="Через Facebook")._social-networks-list-item
                            +svg('icon-fb ')        

        ._content
            ._opcions
                ._information-person
                    ._information-person-name Том Харди
                    ._information-person-profession Актер
                ._model-list
                    ._model-list-item.-active
                        +svg('3d', 'index-page__3d')
                        | 3D Модель
                    ._model-list-item
                        +svg('photo')
                        | фото
                    ._model-list-item
                        +svg('anf')
                        | 3D анфас
                    ._model-list-item
                        +svg('prof')
                        | профиль
                ._characteristics-box
                    ._characteristics-box-line
                    ._characteristics
                        ._type-thinking
                            ._type-thinking-title Тип мышления:
                            ._type-thinking-text Абстрактно-эпизодический
                        ._characteristics-list
                            ._characteristics-list-item
                                ._characteristics-list-item-title Пол:
                                select._select
                                    option._options Мужской
                                    option._options Женский

                            ._characteristics-list-item
                                ._characteristics-list-item-title Вес:
                                ._characteristics-list-info
                                    input(type="text")._input
                                    ._characteristics-list-text кг

                            ._characteristics-list-item
                                ._characteristics-list-item-title Возраст:
                                ._characteristics-list-info
                                    input(type="text")._input

                            ._characteristics-list-item
                                ._characteristics-list-item-title Рост:
                                ._characteristics-list-info
                                    input(type="text")._input
                                    ._characteristics-list-text см

                            ._characteristics-list-item
                                ._characteristics-list-item-title Цвет глаз:
                                select._select
                                    option._options Синий
                                    option._options Голубой
                                    option._options Серый
                                    option._options Зелёный
                                    option._options Янтарный
                                    option._options Болотный
                                    option._options Карий
                                    option._options Чёрный
            ._main-window
                ._psychotype-container
                    ._psychotype-box
                        ._psychotype-box-line
                        ._psychotype-list
                            a(href="#", title="title")._psychotype-list-item.-active нейротип
                            a(href="#", title="title")._psychotype-list-item психотип
                            a(href="#", title="title")._psychotype-list-item биотип
                            a(href="#", title="title")._psychotype-list-item социотип
                            a(href="#", title="title")._psychotype-list-item профтип
                            a(href="#", title="title")._psychotype-list-item характер
                ._central-box
                    ._upload-file
                        label._upload-photo
                            input(type="file")._upload-photo-input
                            ._upload-icon
                                +svg('upload-man')
                                +svg('upload-man_hover')
                            ._label
                                | Загрузить фото
                                ._arrow-upload
                                    +svg('arrow-upload', 'index-page__arrow-upload-svg animate')
                    ._subparagraphs-info
                        ._subparagraphs-info-header
                            ._subparagraphs-num
                                ._subparagraphs-text Подпараметр 1
                                ._hint ?
                            ._subparagraphs-info-close
                                | Скрыть
                                +svg('arrow', 'index-page__close-arrow')
                        ._subparagraphs-info-text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam assumenda cum tempore odit optio, animi nihil voluptate est harum reiciendis obcaecati quis minima ipsam cumque odio molestias, et velit eius architecto, recusandae soluta doloremque! Perferendis, ea magni, placeat laborum voluptates sunt ipsum ullam iure quibusdam quisquam voluptas, assumenda voluptate numquam sint nulla amet quaerat suscipit laboriosam odio mollitia perspiciatis. Expedita repellat reprehenderit maiores dolorum voluptate quam officia ut aspernatur, itaque veritatis vitae ea hic optio eum inventore asperiores magnam pariatur quae corporis modi fugit perferendis sapiente. Dolore optio quasi animi tempora, quaerat dolores commodi consequatur saepe. Cum voluptates, nam laborum voluptatem, soluta aspernatur, laudantium id tempora earum nisi eos quibusdam. Quibusdam quaerat exercitationem est odio tempore doloribus, culpa omnis facilis, deserunt sequi quo placeat non voluptates eum maiores corrupti excepturi ipsam at incidunt! Ab itaque, voluptas et similique magnam, reiciendis inventore sapiente ad, eos error quaerat. Tempora, enim voluptatum. Quam vero earum eius? Nihil, harum temporibus odio nisi eligendi eum sequi praesentium aliquam assumenda quod. Consectetur, eveniet distinctio exercitationem sequi nisi esse, accusamus repellendus ipsa nostrum dolor, minus nulla officiis at et rerum optio. Quae perferendis obcaecati quod saepe? Autem praesentium fuga voluptas reiciendis porro dolorum, pariatur dicta nisi aut itaque iusto? Dolorum id quibusdam quos corrupti ut numquam, sed veritatis natus illo nihil labore temporibus perspiciatis tenetur ratione quasi soluta tempore. Doloribus dolor nulla distinctio quos, architecto illo labore pariatur deserunt mollitia consectetur accusantium aut, praesentium, molestias magnam ex non id dolorum repellendus in est quod. Inventore exercitationem laborum sunt suscipit eaque. Quibusdam quos, minus impedit enim eos fugiat corrupti id nisi tenetur saepe ipsum aut, voluptatem nam sint! Facilis quia dolorem impedit reprehenderit, dicta modi aliquid quam aperiam commodi! Molestiae culpa veniam voluptatem, neque natus reprehenderit expedita corporis reiciendis eveniet eum animi sunt inventore vitae optio explicabo, cupiditate harum sapiente quidem porro. Nisi fugit repudiandae sapiente. In veritatis eos error id iusto quis aperiam accusantium consequuntur officiis.

            ._parameter-list
                ._parameter-list-item
                    ._parameter-list-item-header
                        ._parameter-list-item-btn
                            ._parameter-list-item-btn-text параметр 1
                            +svg('arrow')
                        ._hint ?
                    ._subparagraphs-list
                        ._subparagraphs-list-item
                            ._subparagraphs-list-item-text Подпараметр 1
                            ._hint.-sub ?
                        ._subparagraphs-list-item
                            ._subparagraphs-list-item-text Подпараметр 2
                            ._hint.-sub ?
                        ._subparagraphs-list-item
                            ._subparagraphs-list-item-text Подпараметр 3
                            ._hint.-sub ?

                ._parameter-list-item
                    ._parameter-list-item-header
                        ._parameter-list-item-btn
                            ._parameter-list-item-btn-text параметр 2
                            +svg('arrow')
                        ._hint ?
                    ._subparagraphs-list
                        ._subparagraphs-list-item
                            ._subparagraphs-list-item-text Подпараметр 1
                            ._hint.-sub ?
                        ._subparagraphs-list-item
                            ._subparagraphs-list-item-text Подпараметр 2
                            ._hint.-sub ?
                        ._subparagraphs-list-item
                            ._subparagraphs-list-item-text Подпараметр 3
                            ._hint.-sub ?

                ._parameter-list-item
                    ._parameter-list-item-header
                        ._parameter-list-item-btn
                            ._parameter-list-item-btn-text параметр 3
                            +svg('arrow')
                        ._hint ?
                    ._subparagraphs-list
                        ._subparagraphs-list-item
                            ._subparagraphs-list-item-text Подпараметр 1
                            ._hint.-sub ?
                        ._subparagraphs-list-item
                            ._subparagraphs-list-item-text Подпараметр 2
                            ._hint.-sub ?
                        ._subparagraphs-list-item
                            ._subparagraphs-list-item-text Подпараметр 3
                            ._hint.-sub ?

                ._parameter-list-item
                    ._parameter-list-item-header
                        ._parameter-list-item-btn
                            ._parameter-list-item-btn-text параметр 4
                            +svg('arrow')
                        ._hint ?
                    ._subparagraphs-list
                        ._subparagraphs-list-item
                            ._subparagraphs-list-item-text Подпараметр 1
                            ._hint.-sub ?
                        ._subparagraphs-list-item
                            ._subparagraphs-list-item-text Подпараметр 2
                            ._hint.-sub ?
                        ._subparagraphs-list-item
                            ._subparagraphs-list-item-text Подпараметр 3
                            ._hint.-sub ?
        ._footer
            ._terms-use
                a(href="#", title="title" data-modal=".agreement")._terms-use-link Пользовательское соглашение
                a(href="#", title="title" data-modal=".agreement")._terms-use-link О проекте
            +icon('footer-logo', 'index-page__footer-logo')
    ._sidebar
        ._sidebar-info
            +svg('header-logo', 'index-page__header-logo')
            ._sidebar-close &#10006;
        input(type="text" placeholder="поиск")._sidebar-search

        ._list-categories
            ._list-categories-item
                ._list-categories-item-title Актеры
                ._drop-down-list
                    ._names-people-list
                        ._names-people-list-item Том Харди
                        ._names-people-list-item Брюс Уиллис
                    ._add-names-people
                        input(type="text" placeholder="добавить")._add-names-people-input
                        ._plus.-names-people-list-item +

            ._list-categories-item
                ._list-categories-item-title Политики
                ._drop-down-list
                    ._names-people-list
                        ._names-people-list-item Том Харди
                        ._names-people-list-item Брюс Уиллис
                    ._add-names-people
                        input(type="text" placeholder="добавить")._add-names-people-input
                        ._plus.-names-people-list-item +

            ._list-categories-item
                ._list-categories-item-title блогеры
                ._drop-down-list
                    ._names-people-list
                        ._names-people-list-item Том Харди
                        ._names-people-list-item Брюс Уиллис
                    ._add-names-people
                        input(type="text" placeholder="добавить")._add-names-people-input
                        ._plus.-names-people-list-item +

            ._list-categories-item
                ._list-categories-item-title бизнес
                ._drop-down-list
                    ._names-people-list
                        ._names-people-list-item Том Харди
                        ._names-people-list-item Брюс Уиллис
                    ._add-names-people
                        input(type="text" placeholder="добавить")._add-names-people-input
                        ._plus.-names-people-list-item +

            ._list-categories-item
                ._list-categories-item-title модели
                ._drop-down-list
                    ._names-people-list
                        ._names-people-list-item Том Харди
                        ._names-people-list-item Брюс Уиллис
                    ._add-names-people
                        input(type="text" placeholder="добавить")._add-names-people-input
                        ._plus.-names-people-list-item +
        ._add-list-categories-item
            input(type="text" placeholder="добавить")._add-list-categories-item-input
            ._plus.-list-categories-item +