.content {
  &__menu {
    position: absolute;
    top: 0;
    left: -5px;
    width: 290px;
    height: 100vh;
    background: #2d2c2d;
    z-index: 100;
    padding: 15px 0 30px 0;
    transform: translateX(-270px);
    opacity: 0;
    transition: .4s;

    &_active {
      transform: translateX(0px);
      opacity: 1;
    }
  }

  &__menu-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 25px 0 25px;
  }

  &__close {
    color: $gold;
    font-size: 18px;
    font-weight: 300;

    &:hover {
      cursor: pointer;
    }
  }

  &__box {
    padding: 20px 0 20px 25px;

    &_bg-dark {
      background: #262526;
      margin: 20px 0 0 0;
    }
  }

  &__box-list-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 24px;
  }

  &__box-title {
    color: #cdcdcd;
    font-size: 16px;
    text-transform: uppercase;
  }

  &__box-list {
    margin: 15px 0 0 0;
  }

  &__box-list-item {
    display: flex;
    align-items: center;
    color: #cdcdcd;
    font-size: 13px;
    transition: $t-time;
    padding: 10px 0;

    &:hover {
      cursor: pointer;
      color: $gold;

      svg {
        fill: $gold;
      }
    }

    &:not(:first-child) {
      //margin: 20px 0 0 0;
    }
  }

  &__box-list-text {
    margin: 0 0 0 15px;
  }

  &__coin-info {
    display: flex;
    align-items: center;
    padding: 20px 0 20px 25px;
    color: #cdcdcd;
    font-size: 13px;
    background: #262526;
  }

  &__coin-info-text {
    margin: 0 0 0 20px;
  }

  &__coin-info-svg {
    opacity: .3;
  }

  &__link-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0 20px 25px;
  }

  &__link-list-item {
    color: #797879;
    font-size: 13px;
    line-height: 30px;
    text-decoration: underline;
  }
}